<% provide(:title, t("edit_product.text_title")) %>
<% provide(:button_text, t("edit_product.text_button_save")) %>
<div class="col-md-10 col-md-offset-1 m-auto">
  <div class="contact-form">
    <h1><%= t "edit_product.text_title_form" %></h1>
    <%= render "admin/shared/form" %>
  </div>
</div>

