<% provide(:title, t("products.title_page")) %>
<% provide(:button_text, t("products.text_button_add")) %>
<div class="col-md-10 col-md-offset-1 m-auto">
  <div class="contact-form">
      <%= render "admin/shared/form" %>
  </div>
</div>

